* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

main {
	padding: 3rem;
}

button {
	font-family: 'Poppins', sans-serif;
}

/* navigation bar */
/* navigation bar */
.navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
	position: sticky;
}

.brand-title {
	font-size: 1.5rem;
	margin: .5rem;
}

.navbar-links {
	height: 100%;
}

.navbar-links ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.navbar-links li:hover {
	background-color: #555;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

@media (max-width: 800px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;

	}

	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links ul li {
		text-align: center;
	}

	.navbar-links ul li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}

/* main section */

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.introduction {
	flex: 1;
}

.intro-text h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro-text p {
	margin-top: 5px;
	font-size: 22px;
	color: #585772;
}

.cta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cta-select {
	border: 2px solid #c36cbb;
	background: transparent;
	color: #c36cbb;
	width: 10rem;
	height: 4rem;
	cursor: pointer;
	font-size: 16px;
	margin-block: 0.2rem;
}

.cta-add {
	background: #c36cbb;
	width: 10rem;
	height: 4rem;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin-block: 0.2rem;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 60vh;
}

.cover img {
	height: 100%;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}

.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}

.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}


@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}

	.introduction {
		margin-top: 5vh;
		text-align: center;
	}

	.intro-text h1 {
		font-size: 30px;
	}

	.intro-text p {
		font-size: 18px;
	}

	.cta {
		padding: 10px 0px 0px 0px;
	}

	.laptop-select {
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}

	.cover img {
		height: 80%;
		width: 70%;
	}

	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.2;
	}
}

@media screen and (max-width: 450px) {
	.cta {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 1500px) {
	.cta {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-right: 20rem;
	}
}
.note {
	font-size: 1rem;
	text-align: center;
}
